<h2 class="todo_list_title">
Project Management Rails App
</h2>
<h2 class="todo_list_sub_title"> 
Where Small and medium size companies can manage their projects with ease !
</h2>

<h2 class="todo_list_sub_title"> 
<img src="https://www.g2msolutions.com.au/hs-fs/hubfs/Top_8_tips_to_effective_client_management1.jpg?t=1537666088710&width=900&name=Top_8_tips_to_effective_client_management1.jpg" alt="project management link" style="width:800px;height:400px;"/>
</h2>