<h2 class="title">
Fidelity Playground App
</h2>
<h2 class="sub_title"> 
A Westworld Host Creator App
</h2>

<h2 class="sub_title"> 
<img src="https://shatontv.com/wp-content/uploads/2016/10/small-logo-300x300.jpg"/>
</h2>